* {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  /* display: block; */
  /* text-align: center; */
}

.box {
  display: block;
  width: 70%;
  border: 1px solid #ddd;
  margin: 5px auto;
  padding: 10px;
}

.boxinput {
  width: 90%;
  display: block;
  padding: 3px;
}
